<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groceryguru.jaegar.groceryguru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentHandlers.ProductCatalog" />
        <activity android:name=".ContentHandlers.AddProduct" />
        <activity android:name=".ContentHandlers.ListsCatalog" />
        <activity android:name=".UI.ProductView" />
        <activity android:name=".UI.ListsView" />
        <activity android:name=".ContentHandlers.AddList" />
        <activity android:name=".ContentHandlers.ProductCatalogAddList"></activity>
    </application>

</manifest>